*{
	box-sizing: border-box;
}
div{ 
	 position: relative;
     background-color: rgba(250,150,150,0.5);
     float:left;
     margin:15px;
     border: 1px solid blue;     
}	 
section{

    padding:30px 10px 0px 10px;
}

#A{
	float:right;
	background-color: red;
	margin:0px;
}
#B{
	float:right;
	background-color:yellow;
	margin:0px;
}

#C{
	float:right;
	background-color: green;
	margin:0px;
}

p{ 
   top:0px;
   left: 0px;
   border: 1px solid black;
   width:70px;
   text-align: center;
   font-style: italic;
}

h1{ 
	margin-bottom: 50px;
	text-align:center;
}
@media(min-width: 991px){
	.first{
      	width:30%;
      	padding-bottom: 10px;
      }
      .second{
      	width: 30%;
      }
      .third{
      	width:30%;
      }
}
@media (min-width: 768px) and (max-width: 991px){
      .first{
      	width:46%;
      }
      .second{
      	width: 46%;
      }
      .third{
      	width:95%;
      	float: left;
      }
}
@media (width: 990px) {
      .first{
      	width:46%;
      }
      .second{
      	width: 46%;
      }
      .third{
      	width:95%;
      	float: left;
      }
}
@media (max-width: 767px){
      
 	   .first{
      	width:97%;
      	float: left;
      	padding-bottom: 10px;
      }
      .second{
      	width: 97%;
      	float: left;
      }
      .third{
      	width:97%;
      	float: left;
      }     
}
